@import '../mixins'

.friendSelector
  width: 670px
  margin 30px auto
  border: 1px solid rgba(0, 0, 0, 0.2)
  -webkit-user-select: none
  border: 10px solid rgba(255, 255, 255, 0.4)
  
  &.loading .items::after
    content: 'Loading...'
    display: block
    padding: 8px 0 3px
    text-align: center
  
  header
    height: 30px
    line-height: 30px
    padding: 0 10px
    vbg-gradient(#FDFDFD, #EAEBEB)
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    
    .status
      float: right
      font-size: 12px
      color: #668EC6
      font-weight: bold
      line-height: 31px
      text-shadow: 0 1px #FFF
    
    input
      width: 140px

  .items
    overflow-x: auto
    height: 300px
    font-size: 12px
    padding: 0 0 5px 5px
    background: #FFF
  
    div
      float: left
      width: 150px
      height: 50px
      margin: 5px 5px 0 0
      cursor: pointer
      ellipsis()
      padding: 5px
      
      img
        float: left
        margin-right: 8px
      
      &.selected
        background: #668EC6
        color: #FFF