@import './mixins'

a
  cursor: pointer
  font-size: 12px
  color: #668EC6
  font-weight: bold
  text-shadow: 0 1px white
  
  &:hover
    text-decoration: none

input[type=text], input[type=url], textarea
  padding: 3px
  margin: 0
  border: 1px solid rgba(0, 0, 0, 0.2)
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.12)
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.12)
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.12)
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.12)
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.12)

input[type=text], input[type=url], textarea, select
  &:focus
    outline: none
    border-color: rgba(102, 142, 198, 0.6)

    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(102, 142, 198, 0.6);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(102, 142, 198, 0.6);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(102, 142, 198, 0.6)

textarea
  padding: 5px
  height: 150px
  width: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  resize: vertical

input[type=text]
  width: 200px

input[type=search]
  outline: none
  
button, a.cta
  line-height: 1em
  display: inline-block
  font-size: 13px
  padding: 5px 8px 6px
  border: 1px solid rgba(0, 0, 0, 0.3)
  inset-line()
  text-shadow: 0 1px 0 #FFF
  color: darken(#52585D, 15%)
  font-family: 'Lucida Grande'
  text-decoration: none
  cursor: pointer
  font-weight: bold
  -webkit-user-select: none

  vbg-gradient(lighten(#F4F4F4, 10%), darken(#F4F4F4, 5%))

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), color-stop(0.5, rgba(255, 255, 255, 0.5)), color-stop(0.5, rgba(255, 255, 255, 0))), darken(#F4F4F4, 5%)
  -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 2px rgba(0, 0, 0, 0.2)  

  &.default
    border-color: rgba(104, 189, 244, 0.8)
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 5px 0 rgba(104, 189, 244, 0.6)
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 5px 0 rgba(104, 189, 244, 0.6)
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 5px 0 rgba(104, 189, 244, 0.6)

  &:active
    border-color: rgba(0, 0, 0, 0.3)
    -webkit-box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1)
    -moz-box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1)
    box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1)
    
  &:disabled
    opacity: 0.5